/* --------MENU--------- */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.container-menu {
    width: 80%;
    height: 94vh;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
    background-color: #373059;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.left{
    width: 35%;
    padding-right: 20px;
    box-sizing: border-box;
}

.right{ 
    width: 65%;
    padding-left: 20px;
    box-sizing: border-box;
}

.divider {
    width: 1px;
    background-color: #fff;
    height: 100%;
    position: sticky; 
    top: 0; 
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

label {
    color: #fff;
}

.conteudo{
    margin: 15px 0;
}

.conteudo label {
    display: block;
    margin-bottom: 5px;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.conteudo input {
    display: block;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 10px auto;
}

.verde {
    background-color: #14a514;
}

.verde:hover {
    background-color: #018d28;
}

.vermelho {
    background-color: #e60000;
}

.vermelho:hover {
    background-color: #c72121;
}
